<fury-page-layout mode="simple">
  <!-- <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] [crumbs]="['Tables']" current="Orders"></fury-breadcrumbs>
  </fury-page-layout-header> -->

  <!-- filters -->
  <fury-page-layout-content class="no-bottom-padding" fxLayoutAlign="start start" fxFlexFill>
    <div class="content" layout="column" class="full-width">
      <mat-expansion-panel [expanded]="0" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filters
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayoutGap="50px">
          <div fxLayout="column">
            <div [@fadeInUp]>
              <h3>Date Option</h3>
            </div>
            <div fxLayout="column" layout-wrap fxLayoutGap="10px" *ngIf="!skeletonloader">
              <div fxLayout="row" layout-wrap fxLayoutGap="10px">
                <div><button mat-raised-button color="warn" (click)="selectDate('today')">Today</button></div>
                <div><button mat-raised-button color="warn" (click)="selectDate('thisMonth')">This Month</button></div>
                <div>
                  <button mat-raised-button color="warn" [matMenuTriggerFor]="more">More</button>
                  <mat-menu #more="matMenu">
                    <button mat-menu-item (click)="selectDate('yesterday')">Yesterday</button>
                    <button mat-menu-item (click)="selectDate('pastWeek')">Past Week</button>
                    <button mat-menu-item (click)="selectDate('pastTwoWeek')">Past 2 Weeks</button>
                    <button mat-menu-item (click)="selectDate('lastMonth')">Last Month</button>
                    <button mat-menu-item (click)="selectDate('lastThreeMonths')">Last 3 Months</button>
                    <button mat-menu-item (click)="selectDate('lastSixMonths')">Past 6 Months</button>
                  </mat-menu>
                </div>
              </div>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>

                  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>
              </div>
            </div>
            <ngx-skeleton-loader count="2" appearance="pulse" *ngIf="skeletonloader" animation="progress" [theme]="{
                  height: '50px',
                  width: '300px',
                'border-radius': 0
              }">
            </ngx-skeleton-loader>
          </div>
          <div fxFlex="100" fxFlex.xs="55">
            <div [@fadeInUp]>
              <h3>Other Options</h3>
            </div>
            <div fxLayout="row" fxLayoutGap="30px" *ngIf="!skeletonloader">
              <div fxLayout="column" fxLayoutGap="0px">
                <!-- Campaigns -->
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Campaign</mat-label>
                    <mat-select [(value)]="campaign" (selectionChange)="commonFilter($event.value, 'campaign_id')">
                      <mat-option [value]="">All Campaigns</mat-option>
                      <mat-option *ngFor="let campaign of campaignOptions" [value]="campaign['campaign_id']">{{campaign['name']}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- Campaign Category -->
                <!-- <div class="md-caption">Campaign</div> -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Campaign Category</mat-label>
                    <mat-select [(value)]="campaignCategory">
                      <mat-option [value]="campaignCategory">All Categories</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <p>You selected: {{campaignCategory}}</p> -->
                <!-- product -->
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Product</mat-label>
                    <mat-select [(value)]="product" (selectionChange)="commonFilter($event.value, 'products')">
                      <mat-option [value]="">All Products</mat-option>
                      <mat-option *ngFor="let product of productOptions" [value]="product['name']">{{product['name']}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <p>You selected: {{product}}</p> -->
                </div>
                <!-- product Category -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Product Category</mat-label>
                    <mat-select [(value)]="productCategory">
                      <mat-option [value]="productCategory">All Categories</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <p>You selected: {{productCategory}}</p> -->
                <!-- All Campaign Products -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Campaign Product</mat-label>
                    <mat-select [(value)]="campaignProduct">
                      <mat-option [value]="campaignProduct">All Campaign Products</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <p>You selected: {{campaignProduct}}</p> -->
                <!-- All Affiliates -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Affiliate</mat-label>
                    <mat-select [(value)]="affiliate">
                      <mat-option [value]="affiliate">All Affiliates</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <p>You selected: {{campaignProduct}}</p> -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Call Center</mat-label>
                    <mat-select [(value)]="callCenter">
                      <mat-option [value]="callCenter">All Call Centers</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
              </div>
              <!-- <p>You selected: {{callCenter}}</p> -->
              <div fxLayout="column" fxLayoutGap="0px">
                <!-- Bill Type -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Bill Type</mat-label>
                    <mat-select [(value)]="billType">
                      <mat-option [value]="billType">All Billings</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <p>You selected: {{campaign}}</p> -->
                <!-- Billing Cycle -->
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Billing Cycle</mat-label>
                    <mat-select [(value)]="billingCycle" (selectionChange)="commonFilter($event.value, 'billing_cycle')">
                      <mat-option [value]="">All</mat-option>
                      <mat-option value="1">ON</mat-option>
                      <mat-option value="0">OFF</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <p>You selected: {{campaignCategory}}</p> -->
                </div>
                <!-- Recycle # -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Recycle#</mat-label>
                    <mat-select [(value)]="recycleNo">
                      <mat-option [value]="recycleNo">All</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <p>You selected: {{product}}</p> -->
                <!-- Txn Type -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Txn Type</mat-label>
                    <mat-select [(value)]="txnType">
                      <mat-option [value]="txnType">All</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <p>You selected: {{productCategory}}</p> -->
                <!-- Currency -->
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Currency</mat-label>
                    <mat-select [(value)]="billing_country" (selectionChange)="commonFilter($event.value, 'billing_country')">
                      <mat-option [value]="">All Currencies</mat-option>
                      <mat-option value="US">US</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <p>You selected: {{campaignProduct}}</p> -->
                <!-- Country -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Country</mat-label>
                    <mat-select [(value)]="country">
                      <mat-option [value]="country">All Countries</mat-option>
                      <mat-option value="US">United States</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
              </div>
              <div fxLayout="column" fxLayoutGap="0px">
                <!-- Gateway -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Gateway</mat-label>
                    <mat-select [(value)]="gateway">
                      <mat-option [value]="gateway">All</mat-option>
                      <ng-container *ngFor="let gateway of filterData.gateways">
                        <mat-option *ngIf="gateway.gateway_descriptor" [value]="gateway.gateway_descriptor">{{
                          gateway.gateway_descriptor }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <p>You selected: {{campaign}}</p> -->
                <!-- Gateway Category -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Gateway Category</mat-label>
                    <mat-select [(value)]="gatewayCategory">
                      <mat-option [value]="gatewayCategory">All Gateway categories</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <p>You selected: {{gatewayCategory}}</p> -->
                <!-- Gateway Type -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Gateway Type</mat-label>
                    <mat-select [(value)]="gatewayType">
                      <mat-option [value]="gatewayType">All</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <p>You selected: {{gatewayType}}</p> -->
                <!-- Card Type -->
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Card Type</mat-label>
                    <mat-select [(value)]="ccType" (selectionChange)="commonFilter($event.value, 'cc_type')">
                      <mat-option [value]="">All</mat-option>
                      <mat-option *ngFor="let cardType of cardOptions" [value]="cardType">{{ cardType }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <p>You selected: {{ccType}}</p> -->
                <!-- Credit/Debit -->
                <!-- <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Credit/Debit</mat-label>
                    <mat-select [(value)]="creditOrDebit">
                      <mat-option [value]="creditOrDebit">All</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <!-- <p>You selected: {{creditOrDebit}}</p> -->
                <!-- 3dSecure -->
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Is 3D Secure</mat-label>
                    <mat-select [(value)]="is_3d_protected" (selectionChange)="commonFilter($event.value, 'is_3d_protected')">
                      <mat-option [value]="">All</mat-option>
                      <mat-option value="1">Yes</mat-option>
                      <mat-option value="0">No</mat-option>

                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <p>You selected: {{threeDSecure}}</p> -->
              </div>
              <div fxLayout="column" fxLayoutGap="0px">
                <!-- state -->
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <mat-select [(value)]="state" (selectionChange)="commonFilter($event.value, 'shipping_state')">
                      <mat-option [value]="">All States</mat-option>
                      <mat-option *ngFor="let state of stateOptions" [value]="state.abbreviation">{{state.name}} -
                        {{state.abbreviation}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <p>You selected: {{callCenter}}</p> -->
                </div>
              </div>
            </div>
            <ngx-skeleton-loader count="2" appearance="line" animation="progress" [theme]="{
                  height: '50px',
                'border-radius': 0
              }"
              *ngIf="skeletonloader"> </ngx-skeleton-loader>
            <div fxLayout="row" fxLayoutAlign="end end" *ngIf="!skeletonloader">
              <button mat-raised-button color="accent" (click)="getData()">Apply</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="end end">
              <ngx-skeleton-loader count="1" appearance="line" animation="progress" [theme]="{
                height: '30px',
                width: '80px',
                'border-radius': 0
              }"
                *ngIf="skeletonloader"> </ngx-skeleton-loader>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </fury-page-layout-content>

  <fury-page-layout-content [@fadeInUp]>
    <fury-list name="Orders" [columns]="columns" (filterChange)="onFilterChange($event)">
      <!-- <div class="actions">
        <button class="create" (click)="createCustomer()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div> -->
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <table [dataSource]="dataSource" mat-table matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef class="actions-cell" mat-header-cell>
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
            <td *matCellDef="let row" mat-cell>
              {{ row[column.property] }}
            </td>
          </ng-container>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row">
            <a class="view-link" (click)="openDialog(row.id)">View</a>
            <!-- <a class="delete-link" (click)="handleDeleteAction(row.id)"> | Delete</a> -->
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;" class="clickable route-animations-elements"
          mat-row></tr>
      </table>

      <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>
    </fury-list>

  </fury-page-layout-content>
</fury-page-layout>