.view-link {
  color: #6495ed;
  cursor: pointer;
}
.delete-link {
  color: #f62217;
  cursor: pointer;
}

// :host ::ng-deep .mat-sort-header-container {
//     display: flex;
//     justify-content: center;
//   }

//   th.mat-header-cell,
//   td.mat-cell {
//     text-align: center;
//   }
