@import "var";

.clickable {
  cursor: pointer;
}
.full-width {
  // width: 100%;
}
.m-top {
  padding-top: 20px;
}
.mt {
  padding-top: 20px;
}
.ml-1 {
  padding-left: 20px;
}
.m-bottom {
  padding-left: 20px;
}
.mb {
  margin-bottom: 10px;
}
.ml {
  margin-left: 10px;
}
.no-bottom-padding {
  padding-bottom: 0px;
}
.highlight-danger {
  background: #cb4335;
  color: white;
}
.highlight-warning {
  background: yellow;
  color: white;
}
.highlight-group {
  // background: #2B547E;
  color: #e42217;
}
.text-center {
  text-align: center;
}
.large {
  height: 50px;
}
.col1 {
  place-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  background: #3498db;
  color: white;
}
.col2 {
  place-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  background: #6c3483;
  color: white;
}
.col3 {
  place-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  background: #616d7e;
  color: white;
}
.col4 {
  place-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background: #cb4335;
  display: flex;
  color: white;
}
.items-box {
  place-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  max-width: 80%;
  // margin-left: 10px;
  // color: green;
}
.view-link {
  color: #6495ed;
}
.delete-link {
  color: #f62217;
}
.mat-column-current_monthly_amount {
  text-align: right !important;
  justify-content: flex-end !important;
}
.mat-column-gateway_alias {
  text-align: center !important;
  // justify-content: flex-center !important;
}
td.mat-column-current_monthly_amount {
  padding-right: 50px !important;
}
.sticky-columns {
  // display: flex;
  // flex-direction: column;
  height: 550px;
  max-width: 100%;
  overflow: auto;
}
::ng-deep .tooltip-list {
  max-width: unset !important;
  white-space: pre-wrap;
  // font-size: 8px;
}
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
}
//Sir Nabeel Changes
// .sticky-columns {
//   overflow: unset;
//   height: 100%;
// }
// .mat-header-row{
//   position: sticky;
//   top: 0;
//   z-index: 100;
//   background: white;
//   }

table {
  border-color: none !important;
}
.ng-star-inserted{
  text-align: center !important;
}

.highlight-grey{
  background-color: #616d7e;
  color: white;
}
.highlight-orange{
  background-color: orange;
  color: white;
}
.custom-orange{
  background-color: orange;
}