@import "var";

.clickable {
  cursor: pointer;
}
.full-width{
  width: 100%
}
.m-top{
  padding-top: 20px;
}

.m-left{
  padding-left: 20px;
}
.no-bottom-padding{
  padding-bottom: 0px;
}
@media screen and (max-width: 992px) {
  
  
}