<fury-page-layout mode="simple">
  <!-- <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] [crumbs]="['Tables']" current="Prospects"></fury-breadcrumbs>
  </fury-page-layout-header> -->

  <fury-page-layout-content [@fadeInUp]>
    <div class="mb" fxLayout="row" layout-wrap fxLayoutGap="10px">
      <div>
        <button *ngIf="isBulkUpdate" mat-raised-button color="warn" (click)="handleBulkDeleteAction()">Delete
          {{selectedRows?.length}} Prospects</button>
      </div>
    </div>
    <fury-list name="Prospects" [columns]="columns" (filterChange)="onFilterChange($event)">
      <!-- <div class="actions">
        <button class="create" (click)="createCustomer()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div> -->
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <div class="sticky-columns">
        <table [dataSource]="dataSource" mat-table matSort>

          <!-- Checkbox Column -->
          <ng-container matColumnDef="checkbox">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell>
              <mat-checkbox (change)="updateCheck()" [(ngModel)]="selectAll" color="accent" (click)="$event.stopPropagation()"></mat-checkbox>
            </th>
            <td *matCellDef="let row" class="actions-cell" mat-cell>
              <mat-checkbox [(ngModel)]="row.checked" color="primary" (change)='updateCheckedRow($event, row)'></mat-checkbox>
            </td>
          </ng-container>

          <ng-container *ngFor="let column of columns">
            <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
              <td *matCellDef="let row" mat-cell>
                {{ row[column.property] }}
              </td>
            </ng-container>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
              <!-- <a class="view-link" (click)="openDialog(row.id)">View</a> | -->
              <a class="delete-link" (click)="deleteProspect(row.id)">Delete</a>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="visibleColumns; sticky:true" mat-header-row></tr>
          <tr *matRowDef="let row; columns: visibleColumns;" class="clickable route-animations-elements" mat-row></tr>
        </table>
      </div>


      <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)" aria-label="Select page">
      </mat-paginator>

    </fury-list>

  </fury-page-layout-content>
</fury-page-layout>