<fury-page-layout mode="simple">
  <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] [crumbs]="['Tables']" current="Prospects"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <fury-list name="Prospects" [columns]="columns" (filterChange)="onFilterChange($event)">
      <!-- <div class="actions">
        <button class="create" (click)="createCustomer()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div> -->
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <table [dataSource]="dataSource" mat-table matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef class="actions-cell" mat-header-cell>
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
            <td *matCellDef="let row" mat-cell>
              {{ row[column.property] }}
            </td>
          </ng-container>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
              <button (click)="deleteProspect(row.prospect_id)" mat-menu-item>
                <span><mat-icon>delete</mat-icon>Delete Prospect</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr (click)="openDialog(row.id)" *matRowDef="let row; columns: visibleColumns;" class="clickable route-animations-elements"
          mat-row></tr>
      </table>

      <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)" aria-label="Select page">
      </mat-paginator>

    </fury-list>

  </fury-page-layout-content>
</fury-page-layout>