.view-link {
  color: #6495ed;
}
.delete-link {
  color: #f62217;
}
.clickable {
  cursor: pointer;
}
.mb {
  margin-bottom: 10px;
}
.sticky-columns {
  // display: flex;
  // flex-direction: column;
  height: 550px;
  max-width: 100%;
  overflow: auto;
}