<!-- <fury-page-layout mode="simple">
  <fury-page-layout-content [@fadeInUp]>
    <fury-list name="Product Detail" [columns]="columns" (filterChange)="onFilterChange($event)">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <table [dataSource]="dataSource" mat-table matSort>

        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef class="actions-cell" mat-header-cell>
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
            <td *matCellDef="let row" mat-cell>
              <ng-template [ngIf]="column.property != 'creator'">{{ row[column.property] }}</ng-template>
            </td>
          </ng-container>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;" class="clickable route-animations-elements" mat-row></tr>
      </table>
    </fury-list>
  </fury-page-layout-content>
</fury-page-layout> -->

<!-- <div mat-dialog-title>Order Details</div>
<mat-dialog-content>
  <h4>Product Details</h4>
  <div class="person">
    <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <div fxLayout="row" fxLayoutGap="24px">
        <div class="product-column" fxLayout="column" fxLayoutGap="15px" [fxFlex]="40">
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span>Product id:</span></div>
            <div class="detail-data"><span>{{product_data[0].product_id}}</span></div>
          </div>
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span>Product Name:</span></div>
            <div class="detail-data"><span>{{product_data[0].name}}</span></div>
          </div>
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span>Product sku:</span></div>
            <div class="detail-data"><span>{{product_data[0].sku}}</span></div>
          </div>
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span>Product price:</span></div>
            <div class="detail-data"><span>{{product_data[0].price}}</span></div>
          </div>
        </div>
        <div class="product-column" fxLayout="column" fxLayoutGap="15px" [fxFlex]="40">
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span>On Hold:</span></div>
            <div class="detail-data"><span>{{product_data[0].on_hold}}</span></div>
          </div>
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span>Product product_qty:</span></div>
            <div class="detail-data"><span>{{product_data[0].product_qty}}</span></div>
          </div>
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span> recurring_date:</span></div>
            <div class="detail-data"><span>{{product_data[0].recurring_date}}</span></div>
          </div>
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span>refund_amount:</span></div>
            <div class="detail-data"><span>{{product_data[0].refund_amount}}</span></div>
          </div>
        </div>
        <div class="product-column" fxLayout="column" fxLayoutGap="15px" [fxFlex]="40">
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span>next_subscription_product:</span></div>
            <div class="detail-data"><span>{{product_data[0].next_subscription_product}}</span></div>
          </div>
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span>next_subscription_product_id:</span></div>
            <div class="detail-data"><span>{{product_data[0].next_subscription_product_id}}</span></div>
          </div>
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span>next_subscription_product_price:</span></div>
            <div class="detail-data"><span>{{product_data[0].next_subscription_product_price}}</span></div>
          </div>
          <div fxLayout="row" fxLayoutGap="24px">
            <div class="detail-title"><span>next_subscription_qty:</span></div>
            <div class="detail-data"><span>{{product_data[0].next_subscription_qty}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content> -->


<div class="fury-preview-card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="content" fxFlex>
    <div class="header">
      <div class="title">Orders</div>
    </div>

    <mat-tab-group class="tabs fury-tabs">
      <mat-tab label="PRODUCT DETAIL">
        <div class="person padding">
          <div fxLayout="row" fxLayoutGap="24px">
            <h6>OFFER: {{product_data?.products[0].offer?.name}}</h6>
          </div>
          <div class="main-div" fxLayout="column" fxLayoutGap="20px" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <div fxLayout="row" fxLayoutGap="24px">
              <div class="product-column" fxLayout="column" fxLayoutGap="15px" [fxFlex]="40">
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Product Id:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.product_id}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Product Name:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.name}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Product SKU:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.sku}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Product Price:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.price}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Product QTY:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.product_qty}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Step Number:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.step_number}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>is_in_trial:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.is_in_trial}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>is_recurring:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.is_recurring}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>is_shippable:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.is_shippable}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>is_terminal:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.is_terminal}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Status:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.status}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Subscription Id:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.subscription_id}}</span></div>
                </div>
              </div>
              <div class="product-column" fxLayout="column" fxLayoutGap="15px" [fxFlex]="40">
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>On Hold:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.on_hold}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span> Recurring Date:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.recurring_date}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Refund Amount:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.refund_amount}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Next Subscription Product:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.next_subscription_product}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Next Subscription Product Id:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.next_subscription_product_id}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Next Subscription Product Price:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.next_subscription_product_price}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Next Subscription Qty:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.next_subscription_qty}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Billing Model Discount:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.billing_model_discount}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Hold Date:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.hold_date}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Is Add On:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.is_add_on}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>is_full_refund:</span></div>
                  <div class="detail-data"><span>{{product_data?.products[0]?.is_full_refund}}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="SHIPPING DETAILS">
        <div class="person padding">
          <div class="main-div" fxLayout="column" fxLayoutGap="20px" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <div fxLayout="row" fxLayoutGap="24px">
              <div class="product-column" fxLayout="column" fxLayoutGap="15px" [fxFlex]="40">
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Shipping Id:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_id}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Shipping First Name:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_first_name}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Shipping Last Name:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_last_name}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Shipping Method Name:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_method_name}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Shipping Postcode:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_postcode}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>Shipping State:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_state}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>shipping_email:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_email}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>shipping_street_address:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_street_address}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>is_shippable:</span></div>
                  <div class="detail-data"><span>{{product_data?.is_shippable}}</span></div>
                </div>
              </div>
              <div class="product-column" fxLayout="column" fxLayoutGap="15px" [fxFlex]="40">
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>shippable:</span></div>
                  <div class="detail-data"><span>{{product_data?.shippable}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span> shipping_amount:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_amount}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>shipping_city:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_city}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>shipping_country:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_country}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>shipping_date:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_date}}</span></div>
                </div>
                <div fxLayout="row" fxLayoutGap="24px">
                  <div class="detail-title"><span>shipping_telephone:</span></div>
                  <div class="detail-data"><span>{{product_data?.shipping_telephone}}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="NEXT ITEM">
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
