/* You can add global styles to this file, and also import other style files */
@import "./@fury/styles/core";
@import "./app/app.theme";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
.tooltip-list {
  white-space: pre;
  font-size: 14px;
}