.main-div{
    box-shadow: none !important;
}
.product-column{
    width: 600px;
}
.detail-title{
    width: 300px;
    font-size: 14px;
    font-weight: bold;
}
.detail-data{
    width: 400px;
    font-size: 14px;
}