<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>

<h4 mat-dialog-title>{{action}}</h4>
<div mat-dialog-content>
    <p>{{message}}</p>
    <div fxLayout="column" *ngIf="action != 'Delete'; else elseDelete">
        <mat-form-field appearance="fill">
            <mat-label>Group Name</mat-label>
            <input matInput [(ngModel)]="groupName" (keyup)="checkTotalMids($event.target.value)">
            <mat-hint *ngIf="isExecute" class="text-danger" >There are {{ assignedMids }} assigned mids against this mid group!</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Bank Percentage</mat-label>
            <input matInput [(ngModel)]="bankPercentage">
            <mat-hint class="text-danger">If field left null, default percentage will be set to 20%</mat-hint>
        </mat-form-field>
    </div>
    <ng-template #elseDelete>
        <p>Are you sure to delete Mid Group <b>"{{local_data.group_name}}"</b>?</p>
    </ng-template>
</div>

<div mat-dialog-actions fxLayoutAlign="end end" *ngIf="action != 'Delete'; else elseDeleteButtons">
    <button mat-raised-button color="primary" (click)="doAction()">{{action}}</button>
    <button mat-raised-button color="gray" (click)="closeDialog()">Cancel</button>
</div>

<ng-template #elseDeleteButtons>
    <div mat-dialog-actions fxLayoutAlign="end end">
        <button mat-raised-button color="warn" (click)="doAction()">{{action}}</button>
        <button mat-raised-button color="gray" (click)="closeDialog()">Cancel</button>
    </div>
</ng-template>