.mat-gray{
  background-color: gray;
  color: white;
}

.close-button {
  float: right;
  top: -15px;
  right: -15px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button {
  float: right;
  top: -52px;
  right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset;
}
// ::ng-deep.mat-dialog-container {
//   background: rgba(0, 0, 0, 0.8) !important;
//   color: white !important;
// }
// ::ng-deep.mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
//   color: white !important;
// }
// ::ng-deep.mat-input-element{
//   caret-color: white !important;
// }
// .mat-hint{
//   color: white !important;
// }